.tyrylgin_popup {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    color: black;
    font-size: 20px;

    &__content {
        display: flex;
        width: 1000px;
        height: 500px;
        background-color: white;
        border-radius: 3px;
        &__header{
            display:flex
        }
        &__title {
            padding: 5px 15 0 0;
        }

        &__closebutton {
            padding: 5px 15 0 0;
        }
    }
}
