.mitrofanova_popup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

    .mitrofanova_popup_style {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-block-color: black;
        border: 2px solid #000;
        box-shadow: 5px;
        padding: 10px 5px;
        border-radius: 7px;
    }

    &_content {
        gap: 65px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    &_content_in {
        display: flex;
        flex-direction: column;
        gap: 15px 20px;
        padding: 7vh;
    }
}
/*.mitrofanova_popup_content{}*/